    body {
      margin: 0;
      font-family: Arial;
      background: linear-gradient(135deg,#97a5ca);
    }
    .app {
      display: flex;
      width: 90%;
      height: 90vh;
      margin: 30px auto;
      background: white;
      border-radius: 15px;
      overflow: hidden;
    }
    .sidebar {
      width: 220px;
      background: #4b66cf;
      color: white;
      padding: 20px;
    }
    .sidebar a{
        text-decoration: none;
        color: rgb(1, 40, 75);
    }
    .sidebar h2 {
      margin-bottom: 30px;
    }
    .sidebar p {
      margin: 15px 0;
      cursor: pointer;
    }
    .content {
      flex: 1;
      padding: 20px;
      overflow-y: auto;
    }
    .content h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    .form {
      display: inline;
      gap: 10px;
      margin-bottom: 20px;
      
    }
    .form input, .form select {
      padding: 5px;
      border-radius: 4px;
      border: 1;
    }
    .tasks {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 15px;
    }
    .task {
      background: #f5f5f5;
      padding: 20px;
      border-radius: 15px;
    }
    .task h4 {
      margin: 0 0 5px;
    }
    .badge {
      display: inline-block;
      padding: 4px 8px;
      font-size: 12px;
      border-radius: 6px;
      margin-bottom: 5px;
    }
    .low { background:#b9fbc0; }
    .medium { background:#ffe066; }
    .high { background:#ffadad; }
    button {
      margin-top: 18px;
      padding: 5px 8px;
      cursor: pointer;
      border-radius: 4px;
      border: 0;
      background-color:#c2d1f9 ;
    }
    button:hover{
        background-color:#4b66cf ;
        color: white;
        transition: 0.5s;
        border: 0;
    }