*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(34, 64, 76);
    text-align: center;
    min-height: 100vh;
    font-family: sans-serif;
}
h1{
    margin: 2rem 0;
}
.game-wrapper{
    position: relative;
    width: 60vmin;
    height: 60vmin;
    margin: auto;
}
.game{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.line{
    position: absolute;
    width: 100%;
    height: 5px;
    background: red;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 5;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: yellowgreen;
    cursor: pointer;
}
#reset-btn, #new-btn{
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.msg{
    margin-top: 1rem;
}
#msg{
    color: #ffffc7;
    font-size: 6vmin;
    margin-bottom: 1rem;
}
.hide{
    display: none;
}
