* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.bms-header {
    width: 100%;
    height: 64px;
    background: white;
    padding: 12px 140px; /* Same spacing as BookMyShow */
    display: flex;
    align-items: center;
    gap: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.left p {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.left p img {
    width: 80px;
    height: auto;
    margin-left: -31px;   /* text ke saath glue jaisa attach */
    margin-right: -31px;  /* show ko bhi paas laata hai */
}
.logo {
    width: 120px;
}

.search-box {
    width: 549px;
    height: 35px;
    flex: 1;
    position: relative;
    width: 549px;
    height: 35.6px;
}

.search-box input {
    width: 60%;
    padding: 10px 45px 10px 40px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    
}

.search-box .icon {
    padding: 10px 12px;
    position: absolute;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: gray;
}
.right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.location {
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
.signin {
    background: #e40046;
    border: none;
    color: white;
    padding: 7px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}
.menu {
    font-size: 28px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .search-box {
        display: none;
    }
}
.bms-subnav {
    width: 100%;
    background: #F5F5F5;
    padding: 10px 90px; 
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.bms-subnav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 15px;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    margin-left: 50px;
}
.bms-subnav ul li a{
text-decoration: none !important;
color: #333;
}
.bms-subnav ul li a:hover {
    color: #e40046;
}
/* slider start */

.peek-slider {
    width: 100%;
    overflow: hidden;
    padding: 0 40px; /* side peek */
    box-sizing: border-box;
}

.slider-track {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 80%; /* main slide width */
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: transform 0.4s ease;
}

.slide img {
    width: 100%;
    height: 300px;
    max-width: 100%;
    object-fit:fill;
    border-radius: 10px;
    cursor: pointer;
}

/* Optional: make middle slide pop out */
.slide.active {
    transform: scale(1.05);
}
/* form start here */
.movie-form-container {
    width: 520px;
    margin: 25px auto;
    padding: 20px 28px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.07);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600;
}

.form-row {
    display: grid;
    grid-template-columns: 110px 1fr;
    margin-bottom: 12px;
    align-items: center;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #444;
}

input, select {
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.rating-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.star {
    font-size: 22px;
    cursor: pointer;
    color: #ccc;
    transition: 0.2s;
}

.star.active {
    color: #e40046;
}

.rate-text {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 600;
    color: #e40046;
}

/* BOOKMYSHOW TAG BUTTONS */
.tag-group {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.tag {
    padding: 6px 12px;
    background: #f2f2f2;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s;
}

.tag.active {
    background: #e40046;
    color: white;
}

.form-area {
    margin-bottom: 12px;
}

.form-area label {
    display: block;
    margin-bottom: 5px;
}

.form-area textarea {
    width: 100%;
    height: 70px;
    padding: 8px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background: #e40046;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}
/* movie card start here */

.movie-section {
    padding: 20px 90px;
}

.movie-section h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.movie-card {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform .3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.movie-info {
    padding: 10px;
}

.movie-info h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.movie-info p {
    font-size: 14px;
    color: #666;
}
